<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588511412763-r9kkdqtq8rdmc2anebl83kcs29p6njr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588511412763-r9kkdqtq8rdmc2anebl83kcs29p6njr0</string>
	<key>API_KEY</key>
	<string>AIzaSyCpPhX1f3okpubtmm9KXLxfmB02AvgGOik</string>
	<key>GCM_SENDER_ID</key>
	<string>588511412763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signosVitales</string>
	<key>PROJECT_ID</key>
	<string>signos-vitales-81f9b</string>
	<key>STORAGE_BUCKET</key>
	<string>signos-vitales-81f9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588511412763:ios:6943f0a2b445622c95aebe</string>
	<key>DATABASE_URL</key>
	<string>https://signos-vitales-81f9b-default-rtdb.firebaseio.com</string>
</dict>
</plist>